<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                sidenav
            </div>
            <div class="col-lg-8">
                other
            </div>
        </div>
    </div>
</section> -->




<section>
    <div class="container-fluid">
        <div class="row rowpadd">
            <div class="col-lg-4 ">
                <div class="row boxshadoww rowpadd">
                <!-- Begin page content -->
<div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="g-hover-card boxshadoww">
        <img src="\assets\Images\users\counterbg.jpg" alt="">
        <div class="user-avatar">
           <!-- <img src="\assets\Images\users\user1.jpg" alt=""> -->
           <span class="counterspan">48</span>
        </div>
        <div class="info">
           <div class="title">
            <a href="https://bootdey.com/profile/Dey-Dey">Mentors</a>
           </div>
           <div class="description">Registred</div>
        </div>
          <div class="bottom">
          

<mdb-accordion>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader >
      <button type="button" style="    padding-top: 1%;
      padding-bottom: 1%; justify-content: center !important; width: -webkit-fill-available;" class="btn btn-primary btn-rounded" mdbRipple>See All</button>
    </ng-template>
    <ng-template mdbAccordionItemBody>
      <!-- mentor list start -->
      <ul class="list-group list-group-light">
        <li class="list-group-item d-flex justify-content-between align-items-center mntrlst">
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">John Doe</p>
              <p class="text-muted mb-0">john.doe@gmail.com</p>
            </div>
          </div>
          <a class="btn btn-link btn-rounded btn-sm" (click)="openMentor()" role="button">View</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center mntrlst" >
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
              style="width: 45px; height: 45px" />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
          <a class="btn btn-link btn-rounded btn-sm" (click)="openMentor()" role="button">View</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center mntrlst">
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
              style="width: 45px; height: 45px" />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
            </div>
          </div>
      
          <a class="btn btn-link btn-rounded btn-sm" (click)="openMentor()" role="button">View</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center mntrlst" >
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
              style="width: 45px; height: 45px" />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
          <a class="btn btn-link btn-rounded btn-sm" (click)="openMentor()" role="button">View</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center mntrlst" >
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
              style="width: 45px; height: 45px" />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
          <a class="btn btn-link btn-rounded btn-sm" (click)="openMentor()" role="button">View</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center mntrlst" >
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
              style="width: 45px; height: 45px" />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
          <a class="btn btn-link btn-rounded btn-sm" (click)="openMentor()" role="button">View</a>
        </li>
      </ul>
      <!-- mentor list end -->
      <hr/>
    </ng-template>
  </mdb-accordion-item>

</mdb-accordion>
  
        </div>
       </div>
      </div>
  

 
 
    </div>
    </div>
                </div>
        

                <!-- counter end -->

                <!-- to be mentor reuest start -->
                <div class="row boxshadoww rowpadd" style="overflow: scroll;">
                  <p class="h4 headingtxt">To be a Mentor Requests</p>
                  <p class="h6 headingtxt">Subtitle here </p>
                  <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                      <tr>
                        <th>Name</th>
                       
                        <!-- <th>Status</th> -->
                    
                        <th>Actions</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">John Doe</p>
                              <p class="text-muted mb-0">john.doe@gmail.com</p>
                            </div>
                          </div>
                        </td>
                      
                        <!-- <td>
                          <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td>
                      -->
                        <td>
                          <div mdbDropdown class="btn-group">
                            <button
                              class="btn btn-primary btn-sm dropdown-toggle"
                              type="button"
                              mdbDropdownToggle
                              aria-expanded="false"
                            >
                              Action
                            </button>
                            <ul mdbDropdownMenu class="dropdown-menu">
                              <li><a class="dropdown-item reqaccept" href="#!">Accept</a></li>
                              <li><a class="dropdown-item reqdecline" href="#!">Decline</a></li>
                              <li><a class="dropdown-item reqhold" href="#!">Hold</a></li>
                              <li><a class="dropdown-item" style="font-weight: 600;" href="#!">View Profile</a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                                class="rounded-circle"
                                alt=""
                                style="width: 45px; height: 45px"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Alex Ray</p>
                              <p class="text-muted mb-0">alex.ray@gmail.com</p>
                            </div>
                          </div>
                        </td>
                       
                        <!-- <td>
                          <span class="badge badge-primary rounded-pill d-inline"
                                >Onboarding</span
                            >
                        </td> -->
                     
                        <td>
                          <div mdbDropdown class="btn-group">
                            <button
                              class="btn btn-primary btn-sm dropdown-toggle"
                              type="button"
                              mdbDropdownToggle
                              aria-expanded="false"
                            >
                              Action
                            </button>
                            <ul mdbDropdownMenu class="dropdown-menu">
                              <li><a class="dropdown-item reqaccept" href="#!">Accept</a></li>
                              <li><a class="dropdown-item reqdecline" href="#!">Decline</a></li>
                              <li><a class="dropdown-item reqhold" href="#!">Hold</a></li>
                              <li><a class="dropdown-item" style="font-weight: 600;" href="#!">View Profile</a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                                class="rounded-circle"
                                alt=""
                                style="width: 45px; height: 45px"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Kate Hunington</p>
                              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                            </div>
                          </div>
                        </td>
                       
                        <!-- <td>
                          <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                        </td> -->
                     
                        <td>
                          <div mdbDropdown class="btn-group">
                            <button
                              class="btn btn-primary btn-sm dropdown-toggle"
                              type="button"
                              mdbDropdownToggle
                              aria-expanded="false"
                            >
                              Action
                            </button>
                            <ul mdbDropdownMenu class="dropdown-menu">
                              <li><a class="dropdown-item reqaccept" href="#!">Accept</a></li>
                              <li><a class="dropdown-item reqdecline" href="#!">Decline</a></li>
                              <li><a class="dropdown-item reqhold" href="#!">Hold</a></li>
                              <li><a class="dropdown-item" style="font-weight: 600;" href="#!">View Profile</a></li>
                              
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                <!-- request end -->
               
            </div>
            <div class="col-lg-8 ">
                <div class="row boxshadoww rowpadd">
                    <p class="h4 headingtxt">System Overview</p>
                    <p class="h6 headingtxt">Subtitle here </p>
                    <div id="divChart">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>

                <div class="row boxshadoww rowpadd">
                    <p class="h4 headingtxt">Add new Mentors</p>
                    <p class="h6 headingtxt">Upload Sheet here  </p>
                <div class="upld">
                    <label class="form-label" for="customFile">Mentors Excel sheet <i class="fas fa-file-excel" style="    color: green;
                                        font-size: xx-large;"></i></label>
                    <input type="file" class="form-control" id="customFile" accept=".xlsx" />

                    <div class="bottom" style="    text-align: center;     padding: 3%;">
                        <button type="button" style="    padding-top: 1%;
                        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>Submit</button>
              
                    </div>
                </div>
                 <!-- new added mentors list start -->
                 <div class="table-responsive">
                <table class="table align-middle mb-0 bg-white" style="overflow: scroll;">
                  <thead class="bg-light">
                    <tr style="background-color: #3b71ca6e;">
                      <th>Name</th>
                     
                      <th>Status</th>
                  
                      <th>Actions <button style="    float: right; background-color: green;"
                        class="btn btn-primary btn-sm tooltip-test"
                        type="button" mdbTooltip="Activate All">
                        Pay Now
                      </button></th>
               
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img
                              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                              alt=""
                              style="width: 45px; height: 45px"
                              class="rounded-circle"
                              />
                          <div class="ms-3">
                            <p class="fw-bold mb-1">John Doe</p>
                            <p class="text-muted mb-0">john.doe@gmail.com</p>
                          </div>
                        </div>
                      </td>
                    
                      <td>
                        <span class="badge badge-success rounded-pill d-inline">Inactive</span>
                      </td>
                   
                      <td>
                        <div mdbDropdown class="btn-group">
                          <button
                            class="btn btn-primary btn-sm dropdown-toggle"
                            type="button"
                            mdbDropdownToggle
                            aria-expanded="false"
                          >
                            Action
                          </button>
                          <ul mdbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item reqaccept" href="#!">Activate</a></li>
                            <li><a class="dropdown-item reqdecline" href="#!">Cancle</a></li>
                            <li><a class="dropdown-item" style="font-weight: 600;" href="#!">View Profile</a></li>
                            
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img
                              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                              class="rounded-circle"
                              alt=""
                              style="width: 45px; height: 45px"
                              />
                          <div class="ms-3">
                            <p class="fw-bold mb-1">Alex Ray</p>
                            <p class="text-muted mb-0">alex.ray@gmail.com</p>
                          </div>
                        </div>
                      </td>
                     
                      <td>
                        <span class="badge badge-primary rounded-pill d-inline"
                              >Inactive</span
                          >
                      </td>
                   
                      <td>
                        <div mdbDropdown class="btn-group">
                          <button
                            class="btn btn-primary btn-sm dropdown-toggle"
                            type="button"
                            mdbDropdownToggle
                            aria-expanded="false"
                          >
                            Action
                          </button>
                          <ul mdbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item reqaccept" href="#!">Activate</a></li>
                            <li><a class="dropdown-item reqdecline" href="#!">Cancle</a></li>
                            <li><a class="dropdown-item" style="font-weight: 600;" href="#!">View Profile</a></li>
                            
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img
                              src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                              class="rounded-circle"
                              alt=""
                              style="width: 45px; height: 45px"
                              />
                          <div class="ms-3">
                            <p class="fw-bold mb-1">Kate Hunington</p>
                            <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                          </div>
                        </div>
                      </td>
                     
                      <td>
                        <span class="badge badge-warning rounded-pill d-inline">Inactive</span>
                      </td>
                   
                      <td>
                        <div mdbDropdown class="btn-group">
                          <button
                            class="btn btn-primary btn-sm dropdown-toggle"
                            type="button"
                            mdbDropdownToggle
                            aria-expanded="false"
                          >
                            Action
                          </button>
                          <ul mdbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item reqaccept" href="#!">Activate</a></li>
                            <li><a class="dropdown-item reqdecline" href="#!">Cancle</a></li>
                            <li><a class="dropdown-item" style="font-weight: 600;" href="#!">View Profile</a></li>
                            
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                 <!-- new added mentors list end -->
                </div>

              
                <div class="row boxshadoww rowpadd">
                  <p class="h4 headingtxt">Top Trending</p>
                  <p class="h6 headingtxt">Courses </p>
                 
                  <!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true, "freeScroll": true, "wrapAround": true, "autoPlay": 3000  }'>
  <div class="carousel-cell boxshadoww">
    <img class="corsimage boxshadoww" src="\assets\Images\Course\1.png" alt="">
  <div class="crscontentdiv">
    <b>
      <h5 class=" headingtxt headingCrs">Java Development</h5>
    </b>
    <p class="h6 headingtxt ">Spring Boot (Java)</p>
    <button type="button" style="    padding-top: 1%;
      padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
  </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\2.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\3.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\4.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\5.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\6.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\7.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\8.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\1.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\2.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\3.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>

  <div class="carousel-cell">
    <img class="corsimage" src="\assets\Images\Course\4.png" alt="">
    <div class="crscontentdiv">
      <b>
        <h5 class=" headingtxt headingCrs">Java Development</h5>
      </b>
      <p class="h6 headingtxt ">Spring Boot (Java)</p>
      <button type="button" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
    </div>
  </div>
  <!-- <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div>
  <div class="carousel-cell"> <h1>om</h1></div> -->
</div>

              </div>
               
            </div>
        </div>
    </div>
</section>





