<app-header></app-header>

<!-- <div class="modal-body"> -->
<div class="container">
  <div class="team-single boxshadoww prof">
    <div class="row">
      <div class="col-lg-4 col-md-5 xs-margin-30px-bottom boxshadoww">
        <div class="team-single-img">
          <!-- <img style="width: -webkit-fill-available;" src="\assets\Images\users\user1.jpg" alt=""> -->
          <div class="col-md-12">
            <div class="box box-widget widget-user">
              <div class="widget-user-header bg-aqua">
                <h3 class="widget-user-username">{{ this.registration.FName}}{{ this.registration.LName}}</h3>
                <b style=" background-color: white; border-radius: 30px; color:green">&nbsp; Active &nbsp; </b>

              </div>
              <div class="widget-user-image">
                <img class="img-circle" src="{{imgPath}}Content/UserDetail/{{this.userDetail.Photo}}" alt="User Avatar">
              </div>
              <div class="box-footer">
                <div class="row">
                  <div class="col-4 border-right boxshadoww">
                    <div class="description-block">
                      <h5 class="description-header">3,200</h5>
                      <span class="description-text">Courses Purchased</span>
                    </div>
                  </div>
                  <div class="col-4 border-right boxshadoww">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">Sessions Attended</span>
                    </div>
                  </div>
                  <div class="col-4 boxshadoww">
                    <div class="description-block ">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">Jobs Applied</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
          <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">{{this.menteeProfile.JobTitle}}
          </h4>
          <p class="sm-width-95 sm-margin-auto">Passionate about web development, I am a seasoned Angular developer with
            10 years of experience creating dynamic and responsive web applications.</p>
          <div class="margin-20px-top team-single-icons">
            <ul class="no-margin">
              <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <!-- Feedback start -->
          <div class="row ">
            <p class="h4 headingtxt">Feedbacks</p>
            <p class="h6 headingtxt">Genune feedbacks given here </p>
            <div class="col-lg-12 mx-auto" style=" overflow-y: scroll;">

              <!-- Timeline -->
              <ul class="timeline">
                <li class="timeline-item bg-white rounded ml-3 p-44 shadow">
                  <div class="timeline-arrow"></div>
                  <h2 class="h5 mb-0">Mr. Ajay Patil</h2><span class="small text-gray"><i
                      class="fa fa-clock-o mr-1"></i>21 March, 2019</span>
                  <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis
                    mollis. Duis sagittis ligula in sodales vehicula....</p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-44 shadow">
                  <div class="timeline-arrow"></div>
                  <h2 class="h5 mb-0">Mr. Tejas Mishra</h2><span class="small text-gray"><i
                      class="fa fa-clock-o mr-1"></i>5 April, 2019</span>
                  <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quisque scelerisque diam non nisi semper.</p>

                </li>
                <li class="timeline-item bg-white rounded ml-3 p-44 shadow">
                  <div class="timeline-arrow"></div>
                  <h2 class="h5 mb-0">Mrs. Gita Mukharji</h2><span class="small text-gray"><i
                      class="fa fa-clock-o mr-1"></i>18 August, 2019</span>
                  <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis
                    mollis. Duis sagittis ligula in sodales vehicula....</p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-44 shadow">
                  <div class="timeline-arrow"></div>
                  <h2 class="h5 mb-0">Ms. Rani Sharma</h2><span class="small text-gray"><i
                      class="fa fa-clock-o mr-1"></i>10 October, 2019</span>

                  <p class="text-small mt-2 font-weight-light">Voluptatibus temporibus esse illum eum aspernatur, fugiat
                    suscipit natus! Eum corporis illum nihil officiis tempore. Excepturi illo natus libero sit
                    doloremque, laborum molestias rerum pariatur quam ipsam necessitatibus incidunt, explicabo.</p>
                </li>
              </ul><!-- End -->

            </div>
          </div>
          <!-- feedback end -->
        </div>
      </div>

      <div class="col-lg-8 col-md-7">
        <div class="row" style="    justify-content: center;">

          <div class="col-lg-12 col-12">


            <form class="boxshadoww bottomborder topborder" style="    border-radius: 10px; padding: 5%;">

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form3Example1" class=" form-control"
                      [(ngModel)]="registration.FName" name="FName"
                      onkeypress="return (event.charCode > 64 && 
                              event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" required />
                    <label mdbLabel class="form-label" for="form3Example1">First name</label>
                  </mdb-form-control>
                </div>
                <div class="col">
                  <mdb-form-control class="form-outline">
                    <input mdbInput type="text" id="form3Example2" class="form-control" [(ngModel)]="registration.LName"
                      name="LName"
                      onkeypress="return (event.charCode > 64 && 
                              event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)"
                      required />
                    <label mdbLabel class="form-label" for="form3Example2">Last name</label>
                  </mdb-form-control>
                </div>
              </div>

              <!-- Email input -->
              <mdb-form-control class="mb-4">
                <input mdbInput type="email" id="form3Example3" class="form-control" [(ngModel)]="registration.Email"
                  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="Email" required />
                <label mdbLabel class="form-label" for="form3Example3">Email address</label>
              </mdb-form-control>

              <!-- Password input -->
              <mdb-form-control class="mb-4">
                <input mdbInput type="password" id="form3Example4" class="form-control"
                  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
                  [(ngModel)]="registration.Password" name="Password" required />
                <label mdbLabel class="form-label" for="form3Example4">Password</label>
              </mdb-form-control>



              <!-- Submit button -->
              <button mdbRipple type="button" class="btn btn-primary btn-block mb-4">Update Registration</button>


            </form>
          </div>
        </div>
        <br>

        <div class="row" style="    justify-content: center;">

          <div class="col-lg-12 col-12">

            <form class="boxshadoww bottomborder topborder" style="    border-radius: 10px; padding: 5%;">

              <div class="row mb-4">
                <div class="col">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form6Example1" [(ngModel)]="menteeProfile.JobTitle"
                      #EmailControl="ngModel" name="JobTitle" class="form-control" />
                    <label mdbLabel class="form-label" for="form6Example1">Job Title</label>
                  </mdb-form-control>
                </div>
                <div class="col">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form6Example2" [(ngModel)]="menteeProfile.Industry"
                      #EmailControl="ngModel" name="Industry" class="form-control" />
                    <label mdbLabel class="form-label" for="form6Example2">Industry</label>
                  </mdb-form-control>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <mdb-form-control>
                    <input mdbInput type="number" id="form6Example1" [(ngModel)]="menteeProfile.YearsOfExperience"
                      #EmailControl="ngModel" name="YearsOfExperience" class="form-control" />
                    <label mdbLabel class="form-label" for="form6Example1">Years of Experience</label>
                  </mdb-form-control>
                </div>
                <div class="col">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form6Example2" [(ngModel)]="menteeProfile.TargetedDesignation"
                      #EmailControl="ngModel" name="TargetedDesignation" class="form-control" />
                    <label mdbLabel class="form-label" for="form6Example2">Targeted Designation</label>
                  </mdb-form-control>
                </div>
              </div>


              <button mdbRipple (click)="OnProfileUpdate();" type="button" class="btn btn-primary btn-block mb-4">
                Update Profile
              </button>
            </form>

          </div>
        </div>


        <br>
        <div class="row" style="    justify-content: center;">

          <div class="col-lg-12 col-12">
            <form class="boxshadoww bottomborder topborder" style="    border-radius: 10px; padding: 5%;">

              <div class="row mb-4">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Country</mat-label>
                    <input #countryInput type="text" placeholder="Pick one" matInput [formControl]="countryControl"
                      [matAutocomplete]="autoCountry" (input)="filterCountry(0)" (focus)="filterCountry(0)"
                      name="CountryId" [(ngModel)]="userDetail.CountryId">
                    <mat-autocomplete requireSelection #autoCountry="matAutocomplete">
                      <mat-option *ngFor="let option of filteredCountryOptions" [title]="option.name"
                        [value]="option.name" (click)="filterCountry(option.id)">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <input #stateInput type="text" placeholder="Pick one" matInput [formControl]="stateControl"
                      [matAutocomplete]="autoState" (input)="filterState(0)" (focus)="filterState(0)" name="StateId"
                      [(ngModel)]="userDetail.StateId">
                    <mat-autocomplete requireSelection #autoState="matAutocomplete">
                      <mat-option *ngFor="let option of filteredStateOptions" [title]="option.name"
                        [value]="option.name" (click)="filterState(option.id)">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input #cityInput type="text" placeholder="Pick one" matInput [formControl]="cityControl"
                      [matAutocomplete]="autoCity" (input)="filterCity()" (focus)="filterCity()" name="CityId"
                      [(ngModel)]="userDetail.CityId">
                    <mat-autocomplete requireSelection #autoCity="matAutocomplete">
                      <mat-option *ngFor="let option of filteredCityOptions" [title]="option.name"
                        [value]="option.name">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                </div>











              </div>
              <div class="row mb-4">
                <!-- <div class="col">
                  <mdb-form-control class="mb-4">

                    <input type="file" class="form-control" id="customFile" name="Photo" [(ngModel)]="userDetail.Photo"
                      (change)="fileChangeEvent($event)" accept="image/png, image/jpeg" />
                  </mdb-form-control>
                </div> -->
                <div class="col">

                  <mdb-form-control class="form-outline mb-4">
                    <input mdbInput type="number" id="form6Example6" [(ngModel)]="userDetail.Contact"
                      #ContactControl="ngModel" name="Contact" class="form-control" />
                    <label mdbLabel class="form-label" for="form6Example6">Phone</label>
                  </mdb-form-control>
                </div>
              </div>





              <mdb-form-control class="form-outline mb-4">
                <textarea mdbInput class="form-control" id="form6Example7" [(ngModel)]="userDetail.Address"
                  #AddressControl="ngModel" name="Address" rows="4"></textarea>
                <label mdbLabel class="form-label" for="form6Example7">Address</label>
              </mdb-form-control>




              <button mdbRipple (click)="OnUpdateUserDetail();" type="button" class="btn btn-primary btn-block mb-4">
                Update UserDetail
              </button>
            </form>

          </div>
        </div>

        <br>
        <div class="row" style="    justify-content: center;">

          <div class="col-lg-12 col-12">

            <form class="boxshadoww  topborder" style="    border-radius: 10px; padding: 5%;">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <label>Select Skill</label>
                  <select class="form-select" [(ngModel)]="menteeSkill.skill.SkillId" name="SkillId"
                    aria-label="Default select example">
                    <!-- <option selected disabled>Select Skill</option> -->
                    <option *ngFor="let i of skillList" [value]="i.SkillId">
                      {{i.Title}}</option>
                  </select>

                </div>

              </div>

              <div class="row mb-4">
                <div class="col">
                  <label>Select Status</label>
                  <select class="form-select" name="Status" [(ngModel)]="menteeSkill.Status"
                    aria-label="Default select example">
                    <option selected disabled>Select Status</option>
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                  </select>


                </div>

              </div>

              <!-- Submit button -->
              <button mdbRipple (click)="AddNewSkill();" type="button" class="btn btn-primary btn-block mb-4">
                Add Skill
              </button>
            </form>

          </div>

          <div class="col-lg-12 col-12 boxshadoww bottomborder">
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>One fish</mat-chip-option>
              <mat-chip-option>Two fish</mat-chip-option>
              <mat-chip-option>Two fish</mat-chip-option>
              <mat-chip-option selected>Accent fish</mat-chip-option>
              <!-- <mat-chip-option color="warn">Warn fish</mat-chip-option> -->
            </mat-chip-listbox>
          </div>

        </div>
        <br>




      </div>
    </div>

    <div class="col-md-12">

    </div>
  </div>
</div>
<!-- </div> -->