
<!-- slider banner start -->
<section >
<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'" >
    <mdb-carousel-item>
      <img
        src="\assets\Images\Homebanner\1.jpg"
        class="d-block w-100"
        alt="..."
      />
       <!-- Mask -->
       <div class="mask" style="background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(263, 80%, 20%, 0.5));">
        <div class="bottom-0 d-flex align-items-end h-100 text-center justify-content-center">
          <div>
            <h2 class="fw-bold text-white mb-4">Employee Mentorship And Learning Platform</h2>
          </div>
        </div>
      </div>
        <!-- Mask End -->
      <div class="carousel-caption d-none d-md-block banerfontcolor ">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="\assets\Images\Homebanner\2.jpg"
        class="d-block w-100"
        alt="..."
      />
            <!-- Mask -->
            <div class="mask" style="background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(263, 80%, 20%, 0.5));">
              <div class="bottom-0 d-flex align-items-end h-100 text-center justify-content-center">
                <div>
                  <h2 class="fw-bold text-white mb-4">Employee Mentorship And Learning Platform</h2>
                </div>
              </div>
            </div>
              <!-- Mask End -->
      <div class="carousel-caption d-none d-md-block banerfontcolor ">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="\assets\Images\Homebanner\3.jpg"
        class="d-block w-100"
        alt="..."
      />
            <!-- Mask -->
            <div class="mask" style="background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%));">
              <div class="bottom-0 d-flex align-items-end h-100 text-center justify-content-center">
                <div>
                  <h2 class="fw-bold text-white mb-4">Employee Mentorship And Learning Platform</h2>
                </div>
              </div>
            </div>
              <!-- Mask End -->
      <div class="carousel-caption d-none d-md-block banerfontcolor ">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img
          src="\assets\Images\Homebanner\4.jpg"
          class="d-block w-100"
          alt="..."
        />
              <!-- Mask -->
       <div class="mask" style="background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(263, 80%, 20%, 0.5));">
        <div class="bottom-0 d-flex align-items-end h-100 text-center justify-content-center">
          <div>
            <h2 class="fw-bold text-white mb-4">Employee Mentorship And Learning Platform</h2>
          </div>
        </div>
      </div>
        <!-- Mask End -->
        <div class="carousel-caption d-none d-md-block banerfontcolor ">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </mdb-carousel-item>
      
  </mdb-carousel>
  
</section>
  <!-- Slider baner end -->

  <!-- Get started plan start -->
  <section>
<div class="container-fluid">
    <p class="h4 headingtxt">Get Started</p>
    <p class="h6 headingtxt">Our Plans</p>

    <div class="row">
       
        <div class="col-md-4 planpadding " >
            <div class="card text-center boxshadoww" >
                <div class="card-header">Featured</div>
                <div class="card-body">
                  <h5 class="card-title">Individual Plan</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
                <b><div class="card-footer text-muted"> ₹ 3000/Month <span>(50 users)</span></div></b>
              </div>
        </div>
        <div class="col-md-4 planpadding ">
            <div class="card text-center boxshadoww">
                <div class="card-header">Featured</div>
                <div class="card-body">
                  <h5 class="card-title">Company Plan</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
                <b><div class="card-footer text-muted"> ₹ 8000/Month <span>(100 users)</span></div></b>
              </div>
        </div>
        <div class="col-md-4 planpadding ">
            <div class="card text-center boxshadoww">
                <div class="card-header">Featured</div>
                <div class="card-body">
                  <h5 class="card-title">Custom Plan</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
                <b><div class="card-footer text-muted"> ₹ 8000/Month <span>(100 users)</span></div></b>
              </div>
        </div>
    </div>
</div>
</section>
  <!-- get started plan end -->


    <!-- Our client start -->
    <section>
        <div class="container-fluid ">
            <p class="h4 headingtxt">Our Clients</p>
            <p class="h6 headingtxt">Partners</p>
        
            <div class="row ">
               
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\tata.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\birla.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\tata.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\birla.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\tata.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\birla.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\birla.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\tata.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\birla.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\tata.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\birla.jpg"  alt="...">
             </div>
             <div class="col-lg-2 col-4 clientpadd">
                <img class="clientlogo" src="\assets\Images\Logo\tata.jpg"  alt="...">
             </div>
            
          
            </div>
        </div>
        </section>
          <!-- Our client end -->

          <!-- Content start -->
    <section>
        <div class="container-fluid">
            <p class="h4 headingtxt">Title here</p>
            <p class="h6 headingtxt">Sub Title here</p>
        
            <div class="row">
               
             <div class="col-lg-5 ">
                <img class="clientlogo" src="\assets\Images\Homebanner\content.jpg"  alt="...">
             </div>
             <div class="col-lg-7 contenttext">
                <p class="h2">Lorem ipsum dolor</p>
                <p class="h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum.</p>
                <p class="h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum.</p>
                <p class="h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id quam lobortis nibh hendrerit gravida vitae a nibh. Pellentesque venenatis lacus vel augue vehicula vestibulum.</p>
                <div class="row" style="    justify-content: right;">
                    <img class="" src="\assets\Images\Logo\sign.jpg" style="width:30%"  alt="...">
                </div>
            </div>
             
            
          
            </div>
        </div>
        </section>
          <!-- Content end -->


 <!-- <button (click)="openModalWalk()">walk</button> -->
         