// .modal-dialog-scrollable .modal-content {
//     max-height: 100% !important;
//     overflow: hidden !important;
//     width: fit-content !important;
//     display: flex !important;
//     flex-direction: column !important;
// }

.headingtxt {
    text-align: center;
    color: #007bb9;
    margin: 0px;
}
