
  <!-- <div class="modal-body"> -->
    <div class="container">
        <div class="team-single boxshadoww prof">
            <div class="row">
                <div class="col-lg-7 col-md-7 xs-margin-30px-bottom boxshadoww">
                    <div class="team-single-img">
                        <!-- <img style="width: -webkit-fill-available;" src="\assets\Images\users\user1.jpg" alt=""> -->
                        <div class="col-md-12">
                          <div class="box box-widget widget-user">
                            <div class="widget-user-header bg-aqua">
                              <h3 class="widget-user-username">Mr. Rahul Mishra</h3>
                              <b style=" background-color: white; border-radius: 30px; color:green">&nbsp; Active &nbsp;  </b>
                            
                            </div>
                            <div class="widget-user-image">
                              <img class="img-circle" src="\assets\Images\users\user1.jpg" alt="User Avatar">
                            </div>
                            <div class="box-footer">
                              <div class="row">
                                <div class="col-4 border-right boxshadoww">
                                  <div class="description-block">
                                    <h5 class="description-header">3,200</h5>
                                    <span class="description-text">Courses Purchased</span>
                                  </div>
                                </div>
                                <div class="col-4 border-right boxshadoww">
                                  <div class="description-block">
                                    <h5 class="description-header">13,000</h5>
                                    <span class="description-text">Sessions Attended</span>
                                  </div>
                                </div>
                                <div class="col-4 boxshadoww">
                                  <div class="description-block ">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">Jobs Applied</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                        <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Business Associate Programm</h4>
                        <p class="sm-width-95 sm-margin-auto">Passionate about web development, I am a seasoned Angular developer with 10 years of experience creating dynamic and responsive web applications.</p>
                     
                        <!-- Feedback start -->
                        <div class="row ">
                            <p class="h4 headingtxt">Benifits And Process</p>
                            <p class="h6 headingtxt">Subtitle here </p>
                            <div class="col-lg-12 mx-auto" style=" overflow-y: scroll;">
                                
                                <!-- Timeline -->
                                <ul class="timeline">
                                    <li class="timeline-item bg-white rounded ml-3 p-44 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h2 class="h5 mb-0">Eligibility</h2>
                                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                                    </li>
                                    <li class="timeline-item bg-white rounded ml-3 p-44 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h2 class="h5 mb-0">Process</h2>
                                        <p class="note note-primary">
                                            <strong>Step 1:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                          </p>
                                          <p class="note note-primary">
                                            <strong>Step 2:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                          </p>
                                          <p class="note note-primary">
                                            <strong>Step 3:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                          </p>
                                       
                                    </li>
                                    <li class="timeline-item bg-white rounded ml-3 p-44 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h2 class="h5 mb-0">Benifits</h2>
                                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                                        <ul class="list-unstyled" style="    text-align: left;">
                                            <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Now it is even easier, lighter and better</li>
                                            <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Improved documentation</li>
                                            <li class="mb-1"><i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Improved modularity</li>
                                          </ul>
                                    </li>
                            
                                </ul><!-- End -->
                
                            </div>
                        </div>
                        <!-- feedback end -->
                    </div>
                </div>
    
                <div class="col-lg-5 col-md-5">
               
    
            
<br>
<div class="row" style="    justify-content: center;">

    <p class="h4 headingtxt">Business Associate</p>
    <p class="h6 headingtxt"> Request Form</p>
  <div class="col-lg-12 col-12">
    
      <form class="boxshadoww bottomborder topborder" style="    border-radius: 10px; padding: 5%;">
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <mdb-form-control>
                <input mdbInput type="text" id="form6Example1" class="form-control" />
                <label mdbLabel class="form-label" for="form6Example1">First name</label>
              </mdb-form-control>
            </div>
            <div class="col">
              <mdb-form-control>
                <input mdbInput type="text" id="form6Example2" class="form-control" />
                <label mdbLabel class="form-label" for="form6Example2">Last name</label>
              </mdb-form-control>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select matNativeControl required>
                  <mat-option value="volvo">India</mat-option>
                  <mat-option value="saab">US</mat-option>
                  <mat-option value="mercedes">Dubai</mat-option>
                  <mat-option value="audi">Srilanka</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select matNativeControl required>
                  <mat-option value="volvo">Maharashtra</mat-option>
                  <mat-option value="saab">Dehli</mat-option>
                  <mat-option value="mercedes">Panjab</mat-option>
                  <mat-option value="audi">Goa</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
          </div>
          <div class="row mb-4">
            <div class="col">
              <mdb-form-control class="mb-4">
                <!-- <label class="form-label" for="customFile">Mentors Excel sheet</label> -->
<input type="file" class="form-control" id="customFile" accept=".xlsx" />
</mdb-form-control> 
              </div>
              <div class="col">
<!-- Number input -->
<mdb-form-control class="form-outline mb-4">
<input mdbInput type="number" id="form6Example6" class="form-control" />
<label mdbLabel class="form-label" for="form6Example6">Phone</label>
</mdb-form-control>
              </div>
              </div>
        



<!-- Message input -->
<mdb-form-control class="form-outline mb-4">
<textarea mdbInput class="form-control" id="form6Example7" rows="4"></textarea>
<label mdbLabel class="form-label" for="form6Example7">Address</label>
</mdb-form-control>



<!-- <div class="form-check form-check-inline">
<input
mdbCheckbox
class="form-check-input"
type="checkbox"
id="inlineCheckbox1"
value="option1"
/>
<label class="form-check-label" for="inlineCheckbox1">1</label>
</div>
<div class="form-check form-check-inline">
<input
mdbCheckbox
class="form-check-input"
type="checkbox"
id="inlineCheckbox2"
value="option2"
/>
<label class="form-check-label" for="inlineCheckbox2">2</label>
</div>
<div class="form-check form-check-inline">
<input
mdbCheckbox
class="form-check-input"
type="checkbox"
id="inlineCheckbox3"
value="option3"
[disabled]="true"
/>
<label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
</div> -->
          <!-- Text input -->
          <!-- <mdb-form-control class="mb-4">
            <input mdbInput type="text" id="form6Example3" class="form-control" />
            <label mdbLabel class="form-label" for="form6Example3">Company name</label>
          </mdb-form-control> -->
          
        
          <!-- Text input -->
          <!-- <mdb-form-control class="mb-4">
            <input mdbInput type="text" id="form6Example4" class="form-control" />
            <label mdbLabel class="form-label" for="form6Example4">Address</label>
          </mdb-form-control> -->
        
          <!-- Email input -->
          <!-- <mdb-form-control class="mb-4">
            <input mdbInput type="email" id="form6Example5" class="form-control" />
            <label mdbLabel class="form-label" for="form6Example5">Email</label>
          </mdb-form-control> -->
        
   
        
          <!-- Message input -->
          <!-- <mdb-form-control class="form-outline mb-4">
            <textarea mdbInput class="form-control" id="form6Example7" rows="4"></textarea>
            <label mdbLabel class="form-label" for="form6Example7">Additional information</label>
          </mdb-form-control> -->
        
   
        
          <!-- Submit button -->
          <button mdbRipple  type="button" class="btn btn-primary btn-block mb-4" >
          Be Mentor Request
          </button>
        </form>

  </div>
</div>
<br>


                        
    
                    </div>
                </div>
    
                <div class="col-md-12">
    
                </div>
            </div>
        </div>
    <!-- </div> -->
 