<section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
          <div class="col-lg-3 col-3">
            <img class="clientlogo" src="\assets\Images\Homebanner\content.jpg" style="      height: 100%;  width: 100%;     border-radius: 10px 0px 0px 10px;" alt="...">
          </div>
            <div class="col-lg-5 col-5">
              
    
                  <form class="boxshadoww" style="    border-radius: 0px 10px 10px 0px; padding: 5%;">
                  
                      <!-- 2 column grid layout with text inputs for the first and last names -->
                      <div class="row mb-4">
                        <div class="col">
                          <mdb-form-control>
                            <input mdbInput type="text" id="form3Example1" class=" form-control"[(ngModel)]="registration.FName" #NameControl="ngModel" name="FName"    onkeypress="return (event.charCode > 64 && 
                            event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" required />
                            <label mdbLabel class="form-label" for="form3Example1">First name</label>
                          </mdb-form-control>
                        </div>
                        <div class="col">
                          <mdb-form-control class="form-outline">
                            <input mdbInput type="text" id="form3Example2" class="form-control"[(ngModel)]="registration.LName" #NameControl="ngModel" name="LName"    onkeypress="return (event.charCode > 64 && 
                            event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" required />
                            <label mdbLabel class="form-label" for="form3Example2">Last name</label>
                          </mdb-form-control>
                        </div>
                      </div>
                    
                      <!-- Email input -->
                      <mdb-form-control class="mb-4">
                        <input mdbInput type="email" id="form3Example3" class="form-control"[(ngModel)]="registration.Email" #EmailControl="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="Email"  required />
                        <label mdbLabel class="form-label" for="form3Example3">Email address</label>
                      </mdb-form-control>
                    
                      <!-- Password input -->
                      <mdb-form-control class="mb-4">
                        <input mdbInput type="password" id="form3Example4" class="form-control"[(ngModel)]="registration.Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" name="Password" #passwordControl="ngModel" required />
                        <label mdbLabel class="form-label" for="form3Example4">Password</label>
                      </mdb-form-control>
                    
                      <!-- Checkbox -->
                      <div class="form-check d-flex justify-content-center mb-4">
                        <input
                          mdbCheckbox
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          id="form2Example32"
                          [checked]="true"
                        />
                        <label class="form-check-label" for="form2Example32">
                          Subscribe to our newsletter 
                        </label>
                      </div>
                    
                      <!-- Submit button -->
                      <button mdbRipple type="button" class="btn btn-primary btn-block mb-4">Sign up</button>
                    
                      <!-- Register buttons -->
                      <div class="text-center">
                        <!-- <p>Already member? <a routerLink="/companyLogin">Login</a></p> -->
                        <p>or sign up with:</p>
                        <button mdbRipple type="button" class="btn btn-secondary btn-floating mx-1">
                          <i class="fab fa-facebook-f"></i>
                        </button>
                    
                        <button mdbRipple type="button" class="btn btn-secondary btn-floating mx-1">
                          <i class="fab fa-google"></i>
                        </button>
                    
                        <button mdbRipple type="button" class="btn btn-secondary btn-floating mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>
                    
                        <button mdbRipple type="button"(click)="OnSubmit();"  class="btn btn-secondary btn-floating mx-1">
                          <i class="fab fa-github"></i>
                        </button>
                      </div>
                    </form>
    
            </div>
        </div>
    </div>
    </section>
    
    