.clientlogo{
    width: 50% !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  section{
    padding-top: 4%;
    padding-bottom: 4%;
}
// course slider start
.carousel {
    background: #EEE;
  }
  
  .carousel-cell {
    width: 28%;
    height: 200px;
    text-align: center;
  
    margin-right: 10px;
    padding: 1%;
    background: #8C8;
    border-radius: 5px;
    // counter-increment: carousel-cell;
  }
  
  .carousel-cell.is-selected {
    background: #ED2;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    // content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  
  .corsimage{
    width: -webkit-fill-available !important;
  }
  
  .headingCrs{
  margin-top: 2% !important;
  font-size: 100% !important;
  }
  
  .crscontentdiv{
    background-color: white;
    border-radius: 0px 0px 7px 7px;
    padding: 1%;
  }

  .corsimage {
    width: -webkit-fill-available !important;
}

.imgcrrs{
height: 50%;
}
  
  // couse slider end\\\\