<app-header></app-header>
<section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
         
            <div class="col-lg-8 col-12">
              
                <form class="boxshadoww bottomborder topborder" style="    border-radius: 10px; padding: 5%;">

                    <div class="row mb-4">
                      <div class="col">
                         <mat-form-field class="example-full-width">
                        <mat-label>Country</mat-label>
                        <input #countryInput
                          type="text"
                          placeholder="Pick one"
                          matInput
                          [formControl]="countryControl"
                          [matAutocomplete]="autoCountry"
                          (input)="filterCountry(0)"
                          (focus)="filterCountry(0)"
                          name="CountryId"[(ngModel)]="userDetail.CountryId" >
                        <mat-autocomplete requireSelection #autoCountry="matAutocomplete">
                          <mat-option *ngFor="let option of filteredCountryOptions" [title]="option.name" [value]="option.name" (click)="filterCountry(option.id)">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      </div>
                      <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>State</mat-label>
                        <input #stateInput
                          type="text"
                          placeholder="Pick one"
                          matInput
                          [formControl]="stateControl"
                          [matAutocomplete]="autoState"
                          (input)="filterState(0)"
                          (focus)="filterState(0)"
                          name="StateId"[(ngModel)]="userDetail.StateId">
                        <mat-autocomplete requireSelection #autoState="matAutocomplete">
                          <mat-option *ngFor="let option of filteredStateOptions" [title]="option.name" [value]="option.name" (click)="filterState(option.id)">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      </div>
                      <div class="col">
                              <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input #cityInput
                          type="text"
                          placeholder="Pick one"
                          matInput
                          [formControl]="cityControl"
                          [matAutocomplete]="autoCity"
                          (input)="filterCity()"
                          (focus)="filterCity()"
                          name="CityId"[(ngModel)]="userDetail.CityId">
                        <mat-autocomplete requireSelection #autoCity="matAutocomplete" >
                          <mat-option *ngFor="let option of filteredCityOptions" [title]="option.name" [value]="option.name">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      </div>

                     
                    
                      
                    
               





                    </div>
                    <div class="row mb-4">
                      <div class="col">
                        <mdb-form-control class="mb-4">
                
        <input type="file" class="form-control" id="customFile"name="Photo"[(ngModel)]="userDetail.Photo"  (change)="fileChangeEvent($event)" accept="image/png, image/jpeg"  />
      </mdb-form-control> 
                        </div>
                        <div class="col">

  <mdb-form-control class="form-outline mb-4">
    <input mdbInput type="number" id="form6Example6" [(ngModel)]="userDetail.Contact" #ContactControl="ngModel"  name="Contact" class="form-control" />
    <label mdbLabel class="form-label" for="form6Example6">Phone</label>
  </mdb-form-control>
                        </div>
                        </div>
                  

       

    
    <mdb-form-control class="form-outline mb-4">
      <textarea mdbInput class="form-control" id="form6Example7"[(ngModel)]="userDetail.Address" #AddressControl="ngModel"  name="Address" rows="4"></textarea>
      <label mdbLabel class="form-label" for="form6Example7">Address</label>
    </mdb-form-control>

  


                    <button mdbRipple (click)="OnSubmit();" (click)="openModal();" type="button" class="btn btn-primary btn-block mb-4" >
                    Submit
                    </button>
                  </form>
    
            </div>
        </div>
    </div>
    </section>
    
  





   