<section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
         
            <div class="col-lg-8 col-12">
              
                <form class="boxshadoww bottomborder topborder" style="    border-radius: 10px; padding: 5%;">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <!-- <div class="row mb-4">
                      <div class="col">
                        <mdb-form-control>
                          <input mdbInput type="text" id="form6Example1" class="form-control" />
                          <label mdbLabel class="form-label" for="form6Example1">First name</label>
                        </mdb-form-control>
                      </div>
                      <div class="col">
                        <mdb-form-control>
                          <input mdbInput type="text" id="form6Example2" class="form-control" />
                          <label mdbLabel class="form-label" for="form6Example2">Last name</label>
                        </mdb-form-control>
                      </div>
                    </div> -->

                    <div class="row mb-4">
                      <div class="col">
                        <mat-form-field>
                          <mat-label>Country</mat-label>
                          <mat-select matNativeControl required>
                            <mat-option value="volvo">India</mat-option>
                            <mat-option value="saab">US</mat-option>
                            <mat-option value="mercedes">Dubai</mat-option>
                            <mat-option value="audi">Srilanka</mat-option>
                          </mat-select>
            


                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-label>State</mat-label>
                          <mat-select matNativeControl required>
                            <mat-option value="volvo">Maharashtra</mat-option>
                            <mat-option value="saab">Dehli</mat-option>
                            <mat-option value="mercedes">Panjab</mat-option>
                            <mat-option value="audi">Goa</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-label>City</mat-label>
                          <mat-select matNativeControl required>
                            <mat-option value="volvo">Mumbai</mat-option>
                            <mat-option value="saab">Pune</mat-option>
                            <mat-option value="mercedes">Nashik</mat-option>
                            <mat-option value="audi">Ratnagiri</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col">
                        <mdb-form-control class="mb-4">
                          <!-- <label class="form-label" for="customFile">Mentors Excel sheet</label> -->
        <input type="file" class="form-control" id="customFile" accept=".xlsx" />
      </mdb-form-control> 
                        </div>
                        <div class="col">
  <!-- Number input -->
  <mdb-form-control class="form-outline mb-4">
    <input mdbInput type="number" id="form6Example6" class="form-control" />
    <label mdbLabel class="form-label" for="form6Example6">Phone</label>
  </mdb-form-control>
                        </div>
                        </div>
                  

       

    <!-- Message input -->
    <mdb-form-control class="form-outline mb-4">
      <textarea mdbInput class="form-control" id="form6Example7" rows="4"></textarea>
      <label mdbLabel class="form-label" for="form6Example7">Address</label>
    </mdb-form-control>

  

<!-- <div class="form-check form-check-inline">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    id="inlineCheckbox1"
    value="option1"
  />
  <label class="form-check-label" for="inlineCheckbox1">1</label>
</div>
<div class="form-check form-check-inline">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    id="inlineCheckbox2"
    value="option2"
  />
  <label class="form-check-label" for="inlineCheckbox2">2</label>
</div>
<div class="form-check form-check-inline">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    id="inlineCheckbox3"
    value="option3"
    [disabled]="true"
  />
  <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
</div> -->
                    <!-- Text input -->
                    <!-- <mdb-form-control class="mb-4">
                      <input mdbInput type="text" id="form6Example3" class="form-control" />
                      <label mdbLabel class="form-label" for="form6Example3">Company name</label>
                    </mdb-form-control> -->
                    
                  
                    <!-- Text input -->
                    <!-- <mdb-form-control class="mb-4">
                      <input mdbInput type="text" id="form6Example4" class="form-control" />
                      <label mdbLabel class="form-label" for="form6Example4">Address</label>
                    </mdb-form-control> -->
                  
                    <!-- Email input -->
                    <!-- <mdb-form-control class="mb-4">
                      <input mdbInput type="email" id="form6Example5" class="form-control" />
                      <label mdbLabel class="form-label" for="form6Example5">Email</label>
                    </mdb-form-control> -->
                  
             
                  
                    <!-- Message input -->
                    <!-- <mdb-form-control class="form-outline mb-4">
                      <textarea mdbInput class="form-control" id="form6Example7" rows="4"></textarea>
                      <label mdbLabel class="form-label" for="form6Example7">Additional information</label>
                    </mdb-form-control> -->
                  
             
                  
                    <!-- Submit button -->
                    <button mdbRipple type="button" (click)="openModal()" class="btn btn-primary btn-block mb-4">
                    Submit
                    </button>
                  </form>
    
            </div>
        </div>
    </div>
    </section>
    
    