<div class="modal-header">
    <h5 class="modal-title" id="exampleModalPopoversLabel">Individual Select Role</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modalRef.close()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
   
 
        <!-- <a routerLink="/Login" (click)="modalRef.close()" class="tooltip-test" mdbTooltip="Login as Company Admin">   <p class="boxshadoww roleoptions">Company Admin</p></a> -->
   
    <!-- <hr /> -->

    <a routerLink="/individualmenteesdashboard" (click)="modalRef.close()" class="tooltip-test" mdbTooltip="Login as Mentee">   <p class="boxshadoww roleoptions">Mentee</p></a>
  
    <hr />

    <a routerLink="/Login" (click)="modalRef.close()" class="tooltip-test" mdbTooltip="Login as Mentor">   <p class="boxshadoww roleoptions">Mentor</p></a>
  
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>