
<app-header></app-header>
<section>
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-6">
            <div class="row boxshadoww rowpadd fltrr" style="    justify-content: center;">
                <p class="h4 headingtxt">Your Active Courses</p>
                <p class="h6 headingtxt">Subtitle here </p>
                
                <div class="row">
             
                  <div class="col-lg-4 col-4 bottomborder topborder boxshadoww clientpadd txtt" *ngFor="let i of mainpurchaseCourseList" style="    font-size: 66%;">
                     <img class="clientlogo" style="    border-radius: 0px 0px 10px 10px;" src="{{imgPath}}Content/Course/{{i.course.Photo}}"  alt="...">
                   <div class="row">
                    <div class="col-lg-6 col-6 brder">₹{{i.course.Price}}</div>
                    <div class="col-lg-6 col-6 brder">{{i.course.Title}}</div>
                    <div class="col-lg-12 brder txtcntr">{{i.course.SubTitle}}</div>
                    <div class="col-lg-12  txtcntr"><a (click)="purchaseCourse(i.course.CourseId)">View</a></div>
                   </div>
                  </div>

                  </div>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row boxshadoww rowpadd fltrr">
                <p class="h4 headingtxt">Top Trending</p>
                <p class="h6 headingtxt">Recomended Courses </p>
               
                <!-- Flickity HTML init -->
            <div class="carousel" data-flickity='{ "groupCells": true, "freeScroll": true, "wrapAround": true, "autoPlay": 3000  }'>
            <div class="carousel-cell boxshadoww">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\1.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\2.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class="  boxshadoww imgcrrs corsimage" src="\assets\Images\Course\3.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\4.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\5.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\6.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\7.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\8.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\1.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\2.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\3.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxt headingtxtt">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            
            <div class="carousel-cell">
            <img class=" boxshadoww imgcrrs corsimage" src="\assets\Images\Course\4.png" alt="">
            <div class="crscontentdiv">
            <b>
            <h5 class=" headingtxt headingCrs">Java Development</h5>
            </b>
            <p class="h6 headingtxtt headingtxtt ">Spring Boot (Java)</p>
            <button type="button" style="    padding-top: 1%;
            padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>View</button>
            </div>
            </div>
            <!-- <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div>
            <div class="carousel-cell"> <h1>om</h1></div> -->
            </div>
          
            </div>
            
        </div>


<br>

<div class="col-lg-12">
    <br>
    <div class="row boxshadoww rowpadd">
        <p class="h4 headingtxt">Search</p>
        <p class="h6 headingtxt">Courses </p>
        <button type="button" (click)="  openModalSearchCourse()" style="    padding-top: 1%;
        padding-bottom: 1%;" class="btn btn-primary btn-rounded" mdbRipple>Search Courses</button>
        </div>
        </div>
<br>
</div>
</div>
</section>
